.catalog{
    height: 2000px;
    flex-direction: column;
    display: flex;
}

.categories{
    width: 20%;
    border: 1px solid black;
}

.carListBox{
    width: 240px;
    height: 200px;
    position: sticky;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.1s;
    align-content: center;
    justify-content: center;
    border:1px solid black;
    background-color: white;
}

.tittleContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}